services:
  database:
    build:
      context: ../dapa-database
      dockerfile: Dockerfile
    env_file:
      - ../dapa-database/.env
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ../dapa-backend
      dockerfile: Dockerfile
    container_name: dapa_backend
    ports:
      - "8080:8080"
    volumes:
      - ../dapa-database/migrations:/database/migrations
    env_file:
      - ../dapa-backend/.env
    environment:
      - GIN_MODE=release
      - DB_HOST=database
      - DB_PORT=5432
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dapa_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
