@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* Base colors */
  --white: #ffffff;
  --black: #000000;

  /* Color scheme */
  --primary: #FFB601;
  --primary-dark: #E2A200;

  --edit-btn: #d2fdd4;
  --edit-btn-hover: #bafbbe;
  --on-edit-btn: #349137;

  --delete-btn: #FCDBDB;
  --delete-btn-hover: #f6cbcb;
  --on-delete-btn: #CC2D44;

  --add-btn: #3F74BD;
  --add-btn-hover: #3c6caf;

  --secondary: #42B983;
  --secondary-dark: #369F6B;

  /* Text colors*/
  --text-on-dark: var(--white);
  --text-on-light: var(--black);
  --text-on-add-btn: var(--white);

  /* Form */
  --border-input: #CCC;
  --button-secondary: #808080;

  /* Modal */
  --modal-bg: var(--white);
  --close-btn: #666;
  --close-btn-hover: #333;

  /* Navbar */
  --sidebar-bg: #ffffff;
  --sidebar-active-bg: #3F74BD;
  --sidebar-hover-bg: #f4f4f4;
  --sidebar-text-color: #2d4d7a;
  --sidebar-active-text-color: var(--white);
  --sidebar-icon-color: #2d4d7a;
  --sidebar-active-icon-color: var(--white);
  --sidebar-icon-size: 24px;

  /* Row */
  --row-hover: #dadada;

  /* Table */
  --border: #F6F6F6;
  --table-header: var(--white);
  --table-footer: var(--white);
  --table-row: var(--white);

  /* Font and typography */
  --font-base: 'Poppins';

  /* Views */
  --bg-general: #F5F7FB;
}

*,
*::before,
*::after {
  font-family: var(--font-base), sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}